<section class="py-[100px] px-[10px] md:flex justify-center text-white gap-x-[5%] items-start" id="about">

<div class="about-content md:w-[45%] my-10">
<h2 class="text-[60px] md:text-[50px] font-semibold">من نحن ؟</h2>
<p class="text-[18px] leading-10 text-[#bdc1ca]">تورفو تكنولوجيز شركة رائدة في مجال التحول الرقمي، ملتزمة بتمكين الشركات بحلول ذكية متطورة. تغطي خبرتنا جميع جوانب التكنولوجيا الحديثة، بدءًا من روبوتات الدردشة المدعومة بالذكاء الاصطناعي وأنظمة إدارة علاقات العملاء القوية، وصولًا إلى تطوير مواقع إلكترونية شاملة والتسويق الرقمي الاستراتيجي. نفخر بتقديم منصات مبتكرة وقابلة للتطوير وآمنة، تعزز الكفاءة وتعزز النمو وتوفر تجربة مستخدم لا مثيل لها. بفضل التزامنا بالتميز وشغفنا بتجاوز الحدود، نساعد عملاءنا على تجاوز تعقيدات المشهد الرقمي، وتحويل التحديات إلى فرص للنجاح.</p>
</div>



<div class="about-image md:w-[45%] cursor-pointer   rounded-[20px] overflow-hidden">
<img src="https://neurosciencenews.com/files/2025/04/AI-robot-visual-learning-neuroscience.jpg" class="w-full  rounded-[20px] duration-1000 hover:scale-[1.1]" alt="">
</div>




</section>