<section class="py-[100px] px-[10px] bg-[rgb(22,81,127,0.5)] rounded-tl-[20px] rounded-br-[20px]" id="portfolio">
<div class="portfolio-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Portfolio</h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">The Our Projects</p>
</div>


<div class="flex items-center justify-center flex-wrap gap-3 w-full sm:w-[80%] mx-auto">
<button (click)="activeSection = 'all'" [class]="activeSection == 'all' ?  'bg-[#00adc0]' : ''" class="py-[5px] px-[20px] rounded-sm border-1 border-solid  text-[15px] sm:text-[20px] cursor-pointer  border-[#00adc0] text-white">All</button>
<button (click)="activeSection = 'webDesign'" [class]="activeSection == 'webDesign' ?  'bg-[#00adc0]' : ''" class="py-[5px] px-[20px] rounded-sm border-1 border-solid  text-[15px] sm:text-[20px] cursor-pointer border-[#00adc0] text-white">Web Design</button>
<button  (click)="activeSection = 'whatsapi'" [class]="activeSection == 'whatsapi' ?  'bg-[#00adc0]' : ''" class="py-[5px] px-[20px] rounded-sm border-1 border-solid text-[15px] sm:text-[20px] cursor-pointer  border-[#00adc0] text-white">WhatsMeta Api</button>
<button  (click)="activeSection = 'photo'" [class]="activeSection == 'photo' ?  'bg-[#00adc0]' : ''" class="py-[5px] px-[20px] rounded-sm border-1 border-solid text-[15px] sm:text-[20px] cursor-pointer  border-[#00adc0] text-white">Photography</button>
</div>


<div class="portfolio-container grid sm:grid-cols-2 md:grid-cols-4 md:w-[95%] mx-auto gap-3 mt-10">

@if (activeSection == 'all') {
<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://e-commerce-61cz.vercel.app/#/home" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-1.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">E-commerce Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://mohamed-abdelaziem.github.io/Mealify/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-2.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Resturant Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://my-portfolio-navy-six-83.vercel.app/resume" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-3.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Portfolio Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://mohamed-abdelaziem.github.io/weather_app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-4.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Smart App</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://torvostore.com/?v=3448e59eb482" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/WebDesgin-6.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Woocommerce Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://lms.ithillel.ua/auth" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-7.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">LMS platform</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://react-booking-app.vercel.app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-8.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Booking Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://to-do-list-coral-eight-96.vercel.app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-9.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">ToDoList Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://techcrunch.com/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-10.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Tech Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538"  target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-جملي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a  href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-اسود-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a  href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-برجندي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-برجندي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>





<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-بيج-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-جملي-1.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="http://www.whats-meta.com" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/whatsMeta-chat.jpg" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">WhatsMeta Chat</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">WhatsMeta Api</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://app.torvochat.com/home" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/torvo-chat-logo.jpg" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Torvo Chat</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">WhatsMeta Api</span>
</div>
</div>

}@else if (activeSection == "webDesign") {
<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://e-commerce-61cz.vercel.app/#/home" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-1.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">E-commerce Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://mohamed-abdelaziem.github.io/Mealify/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-2.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Resturant Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://my-portfolio-navy-six-83.vercel.app/resume" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-3.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Portfolio Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://mohamed-abdelaziem.github.io/weather_app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-4.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Smart App</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://torvostore.com/?v=3448e59eb482" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/WebDesgin-6.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Woocommerce Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://lms.ithillel.ua/auth" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-7.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">LMS platform</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://react-booking-app.vercel.app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-8.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Booking Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://to-do-list-coral-eight-96.vercel.app/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-9.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">ToDoList Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://techcrunch.com/" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/webDesign-10.png" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Tech Website</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Web Design</span>
</div>
</div>


}@else if (activeSection =="photo") {

<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a  href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-جملي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a  href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-اسود-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538"  target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-رجالي-برجندي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Brand PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>




<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-برجندي-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>





<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-بيج-2.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>


<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://wa.me/201505257538" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/هودي-حريمي-جملي-1.webp" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">PhotoGraphy</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">Photography</span>
</div>
</div>



}@else if (activeSection == 'whatsapi') {
<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="http://www.whats-meta.com" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/whatsMeta-chat.jpg" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">WhatsMeta Chat</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">WhatsMeta Api</span>
</div>
</div>



<div class="active:scale-[0.98] duration-500 cursor-pointer portfolio-card w-full bg-[#fff] rounded-[10px]  ">
<a href="https://app.torvochat.com/home" target="_blank"  class="">
<div class="card-image w-full overflow-hidden cursor-pointer rounded-[10px] ">
<img src="../images/torvo-chat-logo.jpg" class="w-full  hover:scale-[1.1] duration-1000 rounded-[10px] " alt="">
</div>
</a>
<div class="flex items-center justify-between my-2 p-2">
<h3 class="text-[18px] font-semibold">Torvo Chat</h3>
<span class=" text-[15px] block text-[#00adc0] font-semibold">WhatsMeta Api</span>
</div>
</div>

}


</div>









</section>
