
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&display=swap');
* {

font-family: "Cairo", sans-serif !important;
}