<section class="py-[100px] px-[10px] text-white " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="md:text-[40px] text-[30px] Syncopate font-semibold">Our Services</h2>
<p class="sm:text-[18px] text-[15px] text-[#bdc1ca]">At Torvo Technologies, we provide a comprehensive suite of digital solutions designed to empower your business. From enhancing customer engagement to optimizing internal operations, our services are tailored to drive growth and innovation.</p>
</div>

<div class="service-container md:max-w-[90%] mx-auto grid sm:grid-cols-3 gap-5 text-center items-stretch">

<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-regular fa-comment-dots text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">WhatsApp Business API <br/> (Meta Partner)</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">Leverage official WhatsApp solutions for customer engagement and support, powered by our Meta partnership.</p>
</div>
</a>


<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 sm:h-[200px] bg-[#1e2128]  cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3  ">
<i class="fa-solid fa-message text-[30px] mb-2 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">Torvo Chat Platform</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">Our proprietary, secure, and scalable chat platform designed for seamless internal and external communication.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-solid fa-database text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">CRM Systems</h3>
<p class="text-[16px] text-[#bdc1ca]">Leverage official WhatsApp solutions for customer engagement and support, powered by our Meta partnership.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950  sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-solid fa-robot text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">AI & Chatbot Development</h3>
<p class="text-[16px] text-[#bdc1ca]">Intelligent AI-driven chatbots and automation tools to enhance user experience and operational efficiency.</p>
</div>
</a>




<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-paper-plane text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">SMS Marketing</h3>
<p class="text-[16px] text-[#bdc1ca]">Targeted and effective SMS campaigns to reach your audience directly and drive engagement.</p>
</div>
</a>




<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-earth-africa text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">Website Design & Development</h3>
<p class="text-[16px] text-[#bdc1ca]">Crafting modern, responsive, and high-performance websites tailored to your brand and business goals.</p>
</div>
</a>


<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:h-[200px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-camera text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">Product Photography</h3>
<p class="text-[16px] text-[#bdc1ca]">Professional product photography services to showcase your offerings with stunning visual appeal and clarity.</p>
</div>
</a>










</div>


</section>