
<!-- max-w-screen-xl  -->
<nav class="z-[1000] border-gray-200 bg-black fixed left-0 right-0 top-0">
  <div class="flex flex-wrap items-center justify-between mx-auto py-1 px-4">
    <a routerLink="/home" class="flex sm:w-[120px] h-100% w-[100px] items-center space-x-3 rtl:space-x-reverse">
        <img src="./images/logo.png" class="w-full h-auto object-fit-cover text-white " alt="Flowbite Logo" />
    </a>

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center  text-white rounded-lg lg:hidden cursor-pointer text-3xl outline-none" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>


    


    <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-2 lg:p-0 mt-4 border rounded-lg w-full  lg:bg-transparent lg:flex-row lg:space-x-15 gap-y-5 rtl:space-x-reverse lg:mt-0 lg:border-0 ">
    
      

        
        <li>
          <a href="#home" class="block py-2 px-3 text-[20px] font-semibold text-white bg-black-700  lg:bg-transparent  lg:p-0 " aria-current="page">الرئيسية</a>
        </li>

        <li>
          <a  href="#about" class="block py-2 px-3 text-[20px] font-semibold text-white bg-black-700  lg:bg-transparent  lg:p-0 " aria-current="page">من نحن</a>
        </li>

         <li>
          <a href="#service" class="block py-2 px-3 text-[20px] font-semibold text-white bg-black-700  lg:bg-transparent  lg:p-0 " aria-current="page">خدماتنا</a>
        </li>
           <li>
          <a  href="#portfolio" class="block py-2 px-3 text-[20px] font-semibold text-white bg-black-700  lg:bg-transparent  lg:p-0 " aria-current="page">معرض الأعمال</a>
        </li>

          <li>
          <a  href="#contact" class="block py-2 px-3 text-[20px] font-semibold text-white bg-black-700  lg:bg-transparent  lg:p-0 " aria-current="page">تواصل معنا</a>
        </li>

         <button routerLink="/en" class="bg-[#00adc0]  lg:hidden block lg:w-fit w-[30%] hover:bg-transparent hover:border-[#00adc0] text-[18px] px-[15px] py-[10px] text-white lg:text-[18px] font-semibold hover:border-1  border-1 border-solid border-transparent tranistion-[50000] rounded-[10px] cursor-pointer lg:px-10 lg:py-[10px]">English</button>


       
      </ul>
    </div>

    <button routerLink="/en" class="bg-[#00adc0]  hidden lg:block lg:w-fit w-[30%] hover:bg-transparent hover:border-[#00adc0] text-[18px] px-[15px] py-[10px] text-white lg:text-[18px] font-semibold hover:border-1  border-1 border-solid border-transparent tranistion-[50000] rounded-[10px] cursor-pointer lg:px-10 lg:py-[10px]">English</button>





  </div>
</nav>

