<section class="py-[100px] px-[10px]">
<div class="why-torvo-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="md:text-[50px] text-[40px] Syncopate font-semibold text-white">لماذا <span class="text-[40px] md:text-[50px] text-[#00adc0]">تورفو ؟</span></h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">نحن نعتبر أفضل مزود لخدمات الاتصالات التجارية لأننا نعتمد على أفضل المهندسين الفنيين ونقوم بتطوير أنظمة تلبي احتياجات السوق وتسهل التواصل بين الشركات وعملائها، مما يضمن بقاء Torvo في المقدمة عندما يتعلق الأمر بخدمات الاتصالات مع العملاء.</p>
</div>

<div class="why-torvo-content md:max-w-[90%] mx-auto grid sm:grid-cols-3 gap-5 items-stretch">

<a href="">
<div class="card transition-[1000] hover:bg-gray-950 bg-[#1e2128] text-white min-h-[180px] p-5 rounded-[10px] active:scale-[0.98]">
<i class="fa-solid fa-certificate  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">أسعار تنافسية</h3>
<p class="text-[16px]">نحن نتميز بأسعارنا التنافسية في جميع الخدمات التي نقدمها، والأسعار الشفافة بدون رسوم خفية، ومجموعة متنوعة من الباقات لتناسب جميع أحجام الأعمال.</p>
</div>
</a>


<a href="">
<div class="card transition-[1000] hover:bg-gray-950 bg-[#1e2128] text-white p-5 min-h-[180px] rounded-[10px] active:scale-[0.98]">
<i class="fa-solid fa-gears  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">سهلة التحكم والاستخدام</h3>
<p class="text-[16px]">يعمل فريق تطوير Torvo باستمرار على بناء نظام ولوحة تحكم سهلة الاستخدام مع واجهة برمجة تطبيقات يمكن توصيلها بسهولة بأي نظام برمجي.</p>
</div>
</a>

<a href="">
<div class="card transition-[1000] hover:bg-gray-950 bg-[#1e2128] min-h-[180px] text-white p-5 rounded-[10px] active:scale-[0.98]">
<i class="fa-solid fa-headset  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">خدمة العملاء تحمي سمعة تورفو</h3>
<p>
<p class="text-[16px]">نحن نسعى جاهدين لتقديم الدعم المتميز والسريع الذي يليق بعملائنا الكرام، وبالتالي تعزيز مكانة تورفو. </p>
</div>
</a>









</div>


</section>
