<section class="py-[100px] px-[10px] ">
  <div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
    <h2 class="md:text-[40px] text-center text-[30px] Syncopate font-semibold text-white">
     أراء العملاء في تورفو
    </h2>
  </div>

  
  <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 items-start border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
         ما شاء الله سيستم ممتاز وخدمة عملاء ممتازين وخصوصاً أستاذ أحمد مدحت
        </p>

        <h4 class="text-white font-semibold">
          أسم العميل  : <span class="text-[#00adc0]">احمد مصطفي </span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star-half-stroke text-yellow-300"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col items-start justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
 شايبوه شقيقي يا هندسة
الموضوع بقى أسهل من الأول
دلوقتي أغلبية العملاء بتأكد في ساعتها
وبنوفر مجهود كبير ممكن يتم
لسه أول يوم أطلع بالإعلانات وأجرب
        </p>

        <h4 class="text-white font-semibold">
          أسم العميل  : <span class="text-[#00adc0]">خالد العشري</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col items-start justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
   تمام وأنا مع حضرتك لو فيه حاجة وقفت معاك
وبما يَظبِط هستنى الموافقة بتاعة السند بتاعنا
والله أنا اللي مبسوط منه إن حضرتك متابع ممتاز جداً للشغل
        </p>

        <h4 class="text-white font-semibold">
        أسم العميل : <span class="text-[#00adc0]">محمد فوزي</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star-half-stroke text-yellow-300"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col items-start justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
        شكراً جداً ليكم 🙏🙏
        </p>

        <h4 class="text-white font-semibold">
          أسم العميل :  <span class="text-[#00adc0]">Befi</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col items-start justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
             البرنامج حلو وجامد جداً، بس يا ريت النسخة تشتغل على أكتر من الجهاز 😂
وتفتحوا نظام البيع بالعمولة متبقوش بخلا أوي كده 😂
        </p>

        <h4 class="text-white font-semibold">
        أسم العميل : <span class="text-[#00adc0]">كريم عادل</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>



  </owl-carousel-o>


</section>
