<section  id="mission" class="flex items-center sm:items-center justify-center text-center">

<div class="mission-content sm:w-[70%] p-2 md:p-0  mx-auto">
<h2 class="md:text-[50px] text-center text-[45px]  font-semibold text-white">مهمتنا</h2>
<p class="text-[25px] leading-10 text-white">في تورفو تكنولوجيز، مهمتنا هي إعادة تعريف التفاعلات الرقمية من خلال توفير حلول تقنية مبتكرة وقابلة للتطوير وآمنة. نمكّن الشركات من التواصل مع عملائها بفعالية أكبر، وتبسيط العمليات من خلال الأتمتة الذكية، والتعامل بثقة مع المشهد الرقمي. نحن ملتزمون بتعزيز النمو، ورفع الكفاءة، وبناء مستقبل أكثر ترابطًا لعملائنا حول العالم.</p>
</div>


</section>