<section  id="mission" class="py-[150px] px-[10px] flex items-center sm:items-center justify-start text-right">

<div class="mission-content sm:w-[90%] p-2 md:p-0  mx-auto">
<h2 class="text-white text-[40px] sm:text-[30px] md:text-[40px] Syncopate font-semibold"> : مهمتنا </h2>
<p class="text-[18px] text-[#fff] leading-8 text-end">في تورفو تكنولوجيز، مهمتنا هي إعادة تعريف التفاعلات الرقمية من خلال توفير حلول تقنية مبتكرة وقابلة للتطوير وآمنة. نمكّن الشركات من التواصل مع عملائها بفعالية أكبر، وتبسيط العمليات من خلال الأتمتة الذكية، والتعامل بثقة مع المشهد الرقمي. نحن ملتزمون بتعزيز النمو، ورفع الكفاءة، وبناء مستقبل أكثر ترابطًا لعملائنا حول العالم.</p>
</div>


</section>