<section id="home" class="py-[50px] flex items-center  justify-center text-center ">
<div class="home-content md:pt-[50px] px-[10px]">
<h1 class="Syncopate md:text-[72px] text-[30px] font-semibold text-white">Empowering Businesses with Smart Digital Solutions</h1>
<p class="text-[#bdc1ca] md:text-[20px] text-[18px] Grotesk">Drive innovation and efficiency with our cutting-edge digital solutions, tailored to transform your business.</p>

<div class="home-btns mt-10 flex flex-wrap justify-center items-center gap-5">
<a href="" class="w-full md:w-fit btn-bg text-[18px] px-[15px] py-[10px] text-white md:text-[18px] font-semibold  rounded-[10px] cursor-pointer md:px-10 md:py-[15px]">Get Started</a>
<a href="" class="w-full md:w-fit btn-text md:px-10 md:text-[18px] text-[18px] px-[15px] py-[10px] md:py-[15px] font-semibold cursor-pointer rounded-[10px]">Discover Torvo Chat</a>
</div>

</div>

<div class="bg-layer"></div>

</section>

<a href="https://wa.me/201505257538" class="bg-[#25d366] w-[50px] fixed bottom-[10px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%] h-[50px] flex items-center justify-center text-white">
<i class="fa-brands fa-whatsapp text-[30px]"></i>
</a>

<a href="tel:+201505257538" class="bg-[#00adc0] w-[50px] fixed bottom-[70px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%]  h-[50px] flex items-center justify-center text-white">
<i class="fa-solid fa-phone text-[30px] text-white"></i>
</a>

