<section       id="home" class="flex flex-column items-center py-[80px]   md:py-[50px] justify-center text-center p-0">
<div class="home-content mt-[50px] sm:mt-[100px] w-full">
<h1 class="md:text-[65px]  text-[40px] font-semibold text-white">Empowering Businesses with Smart <span class="text-[#00a0e3] Syncopate  text-[45px] md:text-[75px] font-semibold"> Digital Solutions</span></h1>
<p class="text-[#bdc1ca] md:text-[20px] text-[17px] mt-2 Grotesk">Drive innovation and efficiency with our cutting-edge digital solutions, tailored to transform your business.</p>

<div class="home-btns mt-10 flex flex-wrap justify-center items-center gap-5">
<a href="http://www.whats-meta.com" target="_blank" class="w-80 md:w-fit btn-bg text-[18px] px-[15px] py-[10px] text-white md:text-[18px] font-semibold  rounded-[10px] cursor-pointer md:px-10 md:py-[15px]">Get Started</a>
<a href="https://app.torvochat.com/home" target="_blank" class="w-80 md:w-fit btn-text md:px-10 md:text-[18px] text-[18px] px-[15px] py-[10px] md:py-[15px] font-semibold cursor-pointer rounded-[10px]">Discover Torvo Chat</a>
</div>

</div>
<div class="bg-layer"></div>
</section>

<a href="https://wa.me/201553571424" class="bg-[#25d366] w-[50px] fa-shake fixed bottom-[10px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%] h-[50px] flex items-center justify-center text-white">
<i class="fa-brands fa-whatsapp text-[30px]"></i>
</a>

<a href="tel:+2001553571424" class="bg-[#00adc0] w-[50px] fixed fa-shake  bottom-[70px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%]  h-[50px] flex items-center justify-center text-white">
<i class="fa-solid fa-phone text-[30px] text-white"></i>
</a>




<div class="loading h-screen w-full fixed top-0 left-0 right-0 bottom-0 z-[100000000000000000] flex items-center justify-center bg-black">
<span class="loader"></span>
</div> 