section {
background-image: url(../../../../../public/images/hero_bg.png) ;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
position: relative;
z-index: 11;
}



.bg-layer {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0,0,0,0.8);
z-index: -1;
height: 100%;
width: 100%;
}


body {
overflow: hidden;
}

.home-btns a {
transition: 0.5s ease;
}

.home-btns a:first-child:hover{
background-color: #000;
color: var(--btn-bg);
}


.home-btns a:last-child:hover{
background-color: var(--btn-bg);
color:white;
}


.loader{
    display: block;
    position: relative;
    height: 20px;
    width: 150px;
    background-image: 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
  }
  
  @keyframes pgfill {
    0% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    25% {   background-image: linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    50% {   background-image: linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    75% {   background-image: linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    100% {   background-image: linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0), linear-gradient(var(--btn-bg) 20px, transparent 0); }
  }
  