<section class="py-[50px] px-[10px]">
<div class="bg-layer"></div>
<div class="steps-heading mb-[30px] mx-auto text-black">
<h2 class="text-[25px] md:text-[40px] Grotesk font-semibold text-white">رحلتك مع عميل Torvo خطوة بخطوة</h2>
</div>

<div class="steps-content md:max-w-[90%] gap-5 mx-auto grid sm:grid-cols-2">

<div class="card bg-[#2f4a5c78] rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">1</div>
<h3 class="text-[25px] my-[10px]">أرسل حملاتك التسويقية</h3>
<p class="text-[18px] lh">اختر الطريقة الصحيحة:<br/>
بث WhatsApp - Plex SMS <br/>
إحصائيات دقيقة حول تفاعل الرسائل.</p>
</div>


<div class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">2</div>
<h3 class="text-[25px] my-[10px]">استقبل الرسائل الإعلانية بأقصى قدر من الكفاءة</h3>
<p class="text-[18px] lh">توزيع تلقائي على :<br/>
اعضاء الفريق - ai agint - work-flow <br/>
سرعة الرد - متابعة الاداء - تقارير واحصائات
</p>
</div>





<div class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">3</div>
<h3 class="text-[25px] my-[10px]">اجمع بيانات العميل بدقة :</h3>
<p class="text-[18px] lh">التوزيع التلقائي ل:<br/>
اهتمامات العملاء - مرحلة العميل sales funnel<br/>
بيانات تفصيلية ( المحافظة ، القدرة الشرائية ..الخ )
مواعيد المتابعة - ملاحظات وتذكيرات
</p>
</div>




<div class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">4</div>
<h3 class="text-[25px] my-[10px]"> اتخذ الاجراء المناسب</h3>
<p class="text-[18px] lh">تغذية المنصات الاعلانية بالبيانات لتحسين الاداء. <br/>

رسائل مخصوصة لكل مرحلة في قمع المبيعات . <br/>

تمييز العملاء الاعلى قيمة شرائية .</p>
</div>


</div>




</section>
