<section  id="mission" class="md:py-[150px] md:px-[10px] py-[50px] flex items-center sm:items-center justify-start sm:text-start">

<div class="mission-content md:w-[90%] w-full p-2 md:p-0  mx-auto">
<h2 class="text-white text-[40px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Our Mission : </h2>
<p class="text-[18px] text-[#fff] leading-8 text-start">At Torvo Technologies, our mission is to redefine digital interactions by providing innovative, scalable, and secure technology solutions. We empower businesses to connect with their customers more effectively, streamline operations through intelligent automation, and navigate the digital landscape with confidence. We are committed to fostering growth, driving efficiency, and building a more connected future for our clients worldwide.</p>
</div>

<div class="layer"></div>

</section>