section {
background-image: url("../../../../../public/images/mission-bg.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 100% !important;
min-height: 80vh;
background-attachment: fixed;
}

