<section class="py-[50px] px-[10px] w-full overflow-x-hidden bg-gray-950">
  <h2 class="text-center text-white rtl   mb-[50px]  text-[25px] sm:text-[30px] md:text-[40px] Syncopate font-bold">موثوق به من قبل أكثر من <span class="text-[#00adc0]">1000+</span> علامة تجارية</h2>
  <owl-carousel-o  [options]="customOptions">
    <ng-template carouselSlide><img src="../../images/image-1.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-2.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-3.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-4.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-5.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-6.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-7.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-8.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-9.webp" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-11-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-12-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-13-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-14-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-15-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-16-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-17-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-18-removebg-preview.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../../images/image-19-removebg-preview.png" class="w-full" alt=""></ng-template> 
  </owl-carousel-o>
</section>

