<section class="py-[150px] px-[10px] w-full overflow-x-hidden bg-gray-950">
  <h2 class="text-center text-white rtl   mb-[50px]   text-[35px] sm:text-[30px] md:text-[40px] Syncopate font-bold">شركات تثق في <span class="text-center  text-[35px] rtl   mb-[50px]   sm:text-[30px] md:text-[40px] Syncopate font-bold text-[#00adc0]">تورفو</span></h2>
  <owl-carousel-o  [options]="customOptions">
    <ng-template carouselSlide><img src="../images/comp-1.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-2.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-3.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-4.png" class="w-full" alt=""></ng-template>  
    <ng-template carouselSlide><img src="../images/comp-6.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-7.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-8.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-9.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-10.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-11.png" class="w-full" alt=""></ng-template> 
  </owl-carousel-o>
</section>

