<section class="py-[100px] px-[10px] text-white " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="md:text-[40px] text-[40px] font-semibold">خدمتنا</h2>
<p class="sm:text-[18px] text-[15px] text-[#bdc1ca]">في تورفو تكنولوجيي، نقدم مجموعة شاملة من الحلول الرقمية المصممة لتمكين أعمالكم. بدءًا من تعزيز تفاعل العملاء وصولًا إلى تحسين العمليات الداخلية، صُممت خدماتنا خصيصًا لتحفيز النمو والابتكار.</p>
</div>

<div class="service-container md:max-w-[90%] mx-auto grid sm:grid-cols-3 gap-5 text-center items-stretch">

<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950  sm:min-h-[250px] bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-regular fa-comment-dots text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">واجهة برمجة تطبيقات WhatsApp Business (الشريك ميتا)</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">استفد من حلول WhatsApp الرسمية للتفاعل مع العملاء ودعمهم، بفضل شراكتنا مع Meta.</p>
</div>
</a>


<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 sm:min-h-[250px] flex flex-col justify-center items-center  bg-[#1e2128]  cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3  ">
<i class="fa-solid fa-message text-[40px] mb-2 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">منصة تورفو للدردشة</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">منصة الدردشة الخاصة بنا والآمنة والقابلة للتطوير والمصممة للتواصل الداخلي والخارجي بسلاسة.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950  sm:min-h-[250px] flex flex-col justify-center items-center bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-solid fa-database text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">أنظمة إدارة علاقات العملاء</h3>
<p class="text-[16px] text-[#bdc1ca]">Leverage official WhatsApp solutions for customer engagement and support, powered by our Meta partnership.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950  sm:min-h-[250px] flex flex-col justify-center items-center bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 ">
<i class="fa-solid fa-robot text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">تطوير الذكاء الاصطناعي وروبوتات الدردشة</h3>
<p class="text-[16px] text-[#bdc1ca]">روبوتات الدردشة الذكية المدعومة بالذكاء الاصطناعي وأدوات الأتمتة لتعزيز تجربة المستخدم والكفاءة التشغيلية.</p>
</div>
</a>




<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:min-h-[250px] flex flex-col justify-center items-center bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-paper-plane text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">تسويق الرسائل القصيرة</h3>
<p class="text-[16px] text-[#bdc1ca]">حملات رسائل نصية قصيرة مستهدفة وفعالة للوصول إلى جمهورك بشكل مباشر وتعزيز المشاركة.</p>
</div>
</a>




<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:min-h-[250px] flex flex-col justify-center items-center bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-earth-africa text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">تصميم وتطوير الموقع</h3>
<p class="text-[16px] text-[#bdc1ca]">إنشاء مواقع ويب حديثة ومتجاوبة وعالية الأداء ومصممة خصيصًا لتتناسب مع أهداف علامتك التجارية وأهداف عملك.</p>
</div>
</a>


<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card hover:bg-gray-950 py-5 px-3 sm:min-h-[250px] flex flex-col justify-center items-center bg-[#1e2128] cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 ">
<i class="fa-solid fa-camera text-[40px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">تصوير المنتجات</h3>
<p class="text-[16px] text-[#bdc1ca]">خدمات التصوير الفوتوغرافي الاحترافي للمنتجات لعرض عروضك بمظهر جذاب ووضوح مذهل.</p>
</div>
</a>










</div>


</section>