<section class="py-[100px] px-[10px] text-white " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">خدمتنا</h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">ماهي خدمتنا ؟</p>
</div>

<div class="service-container md:max-w-[100%] w-full mx-auto grid sm:grid-cols-2 md:grid-cols-4 gap-5 text-center items-stretch">



<div class="box cursor-pointer best-shadow">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/web-design-1.jpg" class="block w-full rounded-[20px] hover:scale-[1.1] duration-1000" alt="">
</div>
</div>


<div class="box cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/whats-meta.jpg" class="block w-full rounded-[20px] hover:scale-[1.1] duration-1000" alt="">
</div>
</div>



<div class="box cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-1.jpg" class="block w-full rounded-[20px] hover:scale-[1.1] duration-1000" alt="">
</div>
</div>



<div class="box cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-2.jpg" class="block w-full rounded-[20px] hover:scale-[1.1] duration-1000" alt="">
</div>
</div>



</div>


</section>