<section class="py-[100px] px-[10px] text-white " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">خدمتنا</h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">ماهي خدمتنا ؟</p>
</div>

<div class="service-container md:max-w-[100%] w-full mx-auto grid sm:grid-cols-2 md:grid-cols-3 gap-5 text-center items-stretch">



<div class="box cursor-pointer relative group/group1 best-shadow">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/web-design-1.jpg" class="block w-full rounded-[20px] group-hover/group1:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details items-start  flex  justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group1:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-right text-white mb-2 font-bold">قم ببناء موقع الويب الاحترافي الخاص بك اليوم</h3>
<p class="text-[#000] text-[15px] font-[500] text-right leading-10">موقع ويب سريع وحديث يعرض خدماتك ويعزز حضورك عبر الإنترنت ويجذب عملاء جدد ويساعدك على تنمية أعمالك بسهولة.</p>
</div>

</div>


<a href="http://www.whats-meta.com" target="_blank">
<div class="box cursor-pointer relative group/group2 p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/whats-meta.jpg" class="block w-full rounded-[20px] group-hover/group2:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details  flex  items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group2:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-right text-white mb-2 font-bold">تسويق الواتس اب الذكي</h3>
<p class="text-[#000] text-[15px] font-[500] text-right leading-10">نحن نقدم نظام تسويق WhatsApp كاملًا مع رسائل جماعية آمنة، ودردشة روبوتية تعمل بالذكاء الاصطناعي، وسير عمل CRM مصممة لتعزيز المشاركة وتبسيط الاتصال وزيادة التحويلات.</p>
</div>

</div>
</a>



<a href="https://app.torvochat.com/home" target="_blank">
<div class="box cursor-pointer relative group/group3 p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-1.jpg" class="block w-full rounded-[20px] group-hover/group3:scale-[1.1] duration-1000" alt="">
</div>



<div class="box-details  flex  items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group3:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-right text-white mb-2 font-bold">أرسل رسائلك التسويقية على الفور</h3>
<p class="text-[#000] text-[15px] font-[500] text-right leading-10">نظام WhatsApp كامل يسمح لك بإرسال رسائل جماعية دون الحاجة إلى رقم عمل تم التحقق منه، مدعومًا بروبوتات الدردشة الذكية والرد التلقائي وحملات تسويقية جاهزة للتشغيل.</p>
</div>

</div>
</a>



<a href="http://www.whats-meta.com" target="_blank">
   <div class="box cursor-pointer relative group/group4 p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-2.jpg" class="block w-full rounded-[20px] group-hover/group4:scale-[1.1] duration-1000" alt="">
</div>


<div class="box-details  flex  items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group4:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-right text-white mb-2 font-bold">احصل على واجهة برمجة تطبيقات WhatsApp الرسمية الخاصة بك اليوم</h3>
<p class="text-[#000] text-[15px] font-[500] text-right leading-10">احصل على واجهة برمجة تطبيقات WhatsApp الرسمية الخاصة بك اليوم</p>
</div>

</div> 
</a>

<div class="box relative group/group4 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/torvo-sms-light.png" class="block w-full rounded-[20px] group-hover/group4:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group4:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-[#fff] mb-2 font-bold text-right">حلول SMS ذكية لزيادة مبيعاتك</h3>
<p class="text-[#000] text-[15px] font-[500] text-right leading-10">وصّل عملاءك فورًا برسائل سريعة وفعّالة تساعدك تعلن، تبيع، وتكبر شغلك بسهولة.</p>
</div>

</div>

</div>

<a href="https://wa.me/201553571424" class="bg-sky-500 hover:bg-sky-600 transition-all duration-500 rounded text-[18px] px-[20px] py-[10px] mt-[50px] block block w-fit text-center mx-auto">ابدأ رحلتك معنا</a>

</section>