<section id="home" class="flex flex-column items-center py-[80px]   md:py-[50px] justify-center text-center p-0 ">
<div class="home-content  sm:mt-[50px] w-full">
<h1 class="md:text-[80px] text-[40px] font-semibold mb-2 text-white">تمكين الشركات بحلول  <span class="text-[#00a0e3] Syncopate  text-[45px] md:text-[75px] font-semibold">رقمية ذكية</span></h1>
<p class="text-[#bdc1ca] md:text-[20px] text-[20px]">قم بتعزيز الابتكار والكفاءة باستخدام حلولنا الرقمية المتطورة، المصممة خصيصًا لتحويل أعمالك.</p>

<div class="home-btns mt-10 flex flex-wrap justify-center items-center gap-5">
<a href="http://www.whats-meta.com" target="_blank" class="md:w-fit w-[80%]  md:w-fit btn-bg text-[18px] px-[15px] py-[10px] text-white md:text-[18px] font-semibold  rounded-[10px] cursor-pointer md:px-10 md:py-[15px]">ابدأ</a>
<a href="http://www.torvochat.com" target="_blank" class="md:w-fit w-[80%] md:w-fit btn-text md:px-10 md:text-[18px] text-[18px] px-[15px] py-[10px] md:py-[15px] font-semibold cursor-pointer rounded-[10px]">اكتشف دردشة تورفو</a>
</div>

</div>

<div class="bg-layer"></div>





</section>

<a href="https://wa.me/201553571424" class="bg-[#25d366] w-[50px] fixed bottom-[10px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%] h-[50px] flex items-center justify-center text-white">
<i class="fa-brands fa-whatsapp text-[30px]"></i>
</a>

<a href="tel:+201553571424" class="bg-[#00adc0] w-[50px] fixed bottom-[70px] left-[10px] cursor-pointer z-[100000] active:rotate-180 active:scale-[0.98] transition-[50000] rounded-[50%]  h-[50px] flex items-center justify-center text-white">
<i class="fa-solid fa-phone text-[30px] text-white"></i>
</a>




