<section class="py-[100px] px-[10px] md:flex justify-center text-white gap-x-[5%] items-start" id="about">

<div class="about-content md:w-[45%] my-10">
<h2 class="Syncopate text-[35px] md:text-[40px] font-semibold">Who We Are ?</h2>
<p class="text-[18px] text-[#bdc1ca] Grotesk">Torvo Technologies is a pioneering force in digital transformation, dedicated to empowering businesses with cutting-edge smart solutions. Our expertise spans the entire spectrum of modern technology, from AI-driven chatbots and robust CRM systems to comprehensive website development and strategic digital marketing. We pride ourselves on delivering innovative, scalable, and secure platforms that drive efficiency, foster growth, and provide an unparalleled user experience. With a commitment to excellence and a passion for pushing boundaries, we help our clients navigate the complexities of the digital landscape, turning challenges into opportunities for success.</p>
</div>



<div class="about-image md:w-[45%] cursor-pointer   rounded-[20px] overflow-hidden">
<img src="https://neurosciencenews.com/files/2025/04/AI-robot-visual-learning-neuroscience.jpg" class="w-full  rounded-[20px] duration-1000 hover:scale-[1.1]"  alt="">
</div>




</section>