<section id="contact" class="py-[100px] px-[10px] bg-[rgb(22,81,127,0.5)]">
  <h2
    class="text-center text-white mb-[10px] text-[25px] sm:text-[30px] md:text-[40px] Syncopate font-semibold"
  >
    Contact Us
  </h2>

  <div class="container w-[90%] mx-auto grid md:grid-cols-4  gap-3" >
    <div
      class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer"
    >
      <i class="fa-solid fa-location-dot text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Address 1 : </h3>
      <p class="text-white text-[18px]">
         362, 6th Floor, QNB Bank Building 115 Salim El Awal Street, Helmeyat AZ
        Zaytoun
        
      </p>
    </div>


    <div
    
      class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer"
    >
      <i class="fa-solid fa-location-dot text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Address 2 : </h3>
      <p class="text-white text-[18px]">
       Nasr City branch 1 Mostafa El-Nahaas, Al Manteqah Al Oula, 7th floor.
      </p>
    </div>

<a  class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer block" href="mailto:torvo.whatsmeta@gmail.com" target="_blank">
  
  <div
    >
      <i class="fa-regular fa-envelope-open text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Email : </h3>
      <p class="text-white text-[18px] font-semibold">
       <a href="mailto:torvo.whatsmeta@gmail.com" target="_blank">torvo.whatsmeta@gmail.com</a>
      </p>
    </div>
</a>




<a  class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer block" href="tel:+201553571424" target="_blank">
   <div
    >
      <i class="fa-solid fa-phone text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Talk With Us : </h3>
      <p class="text-white text-[18px] font-semibold">
       <a href="tel:+201553571424" target="_blank">+20 155 357 1424</a>
      </p>
    </div>
</a>


<!-- https://www.instagram.com/torvo_digital_marketing/?igsh=MWR5dDMxczc2emFseQ%3D%3D -->
<a  class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer block" href="https://www.facebook.com/profile.php?id=61582206860769&rdid=iDtjQBPAkB5FB2Mh&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1AD8nusta8%2F" target="_blank">
   <div
    >
      <i class="fa-brands fa-facebook text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Facebook : </h3>
      <p class="text-white text-[18px] font-semibold">
       <a href="https://www.facebook.com/profile.php?id=61582206860769&rdid=iDtjQBPAkB5FB2Mh&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1AD8nusta8%2F" target="_blank">Torvo Digital Marketing & Bbusiness Solutions </a>
      </p>
    </div>
</a>

<a  class="min-h-[150px] location bg-[#1e2128] p-3 hover:bg-gray-700 transition-all duration-1000 rounded  cursor-pointer block" href=" https://www.instagram.com/torvo_digital_marketing/?igsh=MWR5dDMxczc2emFseQ%3D%3D" target="_blank">
   <div
    >
      <i class="fa-brands fa-instagram text-[#00adc0] text-[35px] mb-2"></i>
      <h3 class="text-[#00adc0] text-[25px] font-semibold mb-2">Instagram : </h3>
      <p class="text-white text-[18px] font-semibold">
       <a href=" https://www.instagram.com/torvo_digital_marketing/?igsh=MWR5dDMxczc2emFseQ%3D%3D" target="_blank">Torvo Digital Marketing & Bbusiness Solutions </a>
      </p>
    </div>
</a>
 
  </div>

</section>
