<section class="py-[50px] px-[10px]">
    <div class="bg-layer"></div>
<div class="steps-heading mb-[30px] mx-auto text-black">
<h2 class="text-[25px] md:text-[40px] Grotesk font-semibold text-white">Your journey with the <span class=" md:text-[40px] Grotesk text-[25px] Syncopate font-semibold">Torvo</span> client, step by step</h2>
</div>

<div class="steps-content md:max-w-[90%] gap-5 mx-auto grid sm:grid-cols-2">

<div data-aos="fade-left" class="card bg-[#2f4a5c78] rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">1</div>
<h3 class="text-[25px] my-[10px]">Send your marketing campaigns</h3>
<p class="text-[18px] lh">Choose the right method:<br/>
WhatsApp Broadcast - Plex SMS <br/>
Accurate statistics on message engagement.</p>
</div>


<div data-aos="fade-right" class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">2</div>
<h3 class="text-[25px] my-[10px]">Receive advertising messages with maximum efficiency</h3>
<p class="text-[18px] lh">Automatic distribution to:<br/>
Team members - AI AGENT - Workflow
Response speed - Performance tracking - Reports and statistics</p>
</div>





<div data-aos="fade-left" class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">3</div>
<h3 class="text-[25px] my-[10px]">Collect customer data accurately</h3>
<p class="text-[18px] lh">Automatic distribution to:<br/>
Team members - AI AGENT - Workflow
Response speed - Performance tracking - Reports and statistics</p>
</div>




<div data-aos="fade-right" class="card bg-[#2f4a5c78]  rounded-[10px] border-1 text-white border-gray-100 p-3">
<div class="number w-[40px] h-[40px] text-[20px] flex items-center justify-center rounded-[50%] font-semibold bg-[#00adc0]">4</div>
<h3 class="text-[25px] my-[10px]">Send your marketing campaigns</h3>
<p class="text-[18px] lh">Choose the right method:<br/>
WhatsApp Broadcast - Plex SMS<br/>
Accurate statistics on message engagement.</p>
</div>


</div>




</section>
