@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";



* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
scroll-behavior: smooth;
scroll-padding-top: 20px;
}


.best-shadow {
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


:root {
--main-color: #21b85c;
--second-color : #16517f ;
--btn-bg : #00adc0 ;
--third-color : #1e2128 ;
}


.main-bg {
background-color: var(--main-color);
}



.third-color {
background-color: var(--third-color);
}


body {
background-color: #000 !important;
}



.btn-text {
color: #00a0e3;
border: 1px solid #00a0e3;
}


.bg-main {
background-color: var(--main-color);
}

.second {
color: var(--second-color);
font-weight: bold;
}

.btn-bg {
background-color: var(--btn-bg);
}

body {
height: 1000px;
}


::selection {
background-color: var(--btn-bg);
color: white;
}

body:has(#home:target) nav ul li a[href="#home"] {
color: var(--btn-bg);
}

body:has(#about:target) nav ul li a[href="#about"] {
color: var(--btn-bg);
}


body:has(#service:target) nav ul li a[href="#service"] {
color: var(--btn-bg);
}



body:has(#portfolio:target) nav ul li a[href="#portfolio"] {
color: var(--btn-bg);
}



body:has(#mission:target) nav ul li a[href="#mission"] {
color: var(--btn-bg);
}
