@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";



@theme {
--color-main : var(--btn-bg);
}


* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
scroll-behavior: smooth;
scroll-padding-top: 30px;
}


.best-shadow {
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


body {
overflow-x: hidden;
overflow-y: hidden;
}

:root {
--main-color: #21b85c;
--second-color : #16517f ;
--btn-bg : #00adc0 ;
--third-color : #1e2128 ;
}


.main-bg {
background-color: var(--main-color);
}



.third-color {
background-color: var(--third-color);
}


body {
background-color: #000 !important;
}



.btn-text {
color: #00a0e3;
border: 1px solid #00a0e3;
}


.bg-main {
background-color: var(--main-color);
}

.second {
color: var(--second-color);
font-weight: 600;
}

.btn-bg {
background-color: var(--btn-bg);
}

body {
height: 1000px;
}


::selection {
background-color: var(--btn-bg);
color: white;
}


nav ul li a {
transition: 0.5s ease;
}

body:has(#home:target) nav ul li a[href="#home"] {
color: var(--btn-bg);
font-weight: 600;
}

body:has(#about:target) nav ul li a[href="#about"] {
color: var(--btn-bg);
font-weight: 600;
}


body:has(#service:target) nav ul li a[href="#service"] {
color: var(--btn-bg);
font-weight: 600;
}



body:has(#portfolio:target) nav ul li a[href="#portfolio"] {
color: var(--btn-bg);
font-weight: 600;
}





body:has(#contact:target) nav ul li a[href="#contact"] {
color: var(--btn-bg);
font-weight: 600;
}

body:has(#pricing:target) nav ul li a[href="#pricing"] {
color: var(--btn-bg);
font-weight: 600;
}

.owl-nav.ng-star-inserted {
display: flex;
justify-content: center;
}

.owl-theme .owl-nav [class*=owl-] {
background-color: var(--btn-bg) !important;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center !important;
justify-content: center !important;
padding: 0 !important;
line-height: 0;
}


.spy-link.active {
color: var(--btn-bg);
}


.service-container img {
width: 100%;
height: 500px !important;
object-fit: cover;
border-radius: 20px;
}