<section class="py-[100px] px-[10px]">
  <div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
    <h2 class="text-center text-white text-[25px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">
      Customer reviews of <span class="text-[#00adc0]">Torvo</span>
    </h2>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
          Mashallah, an excellent system and outstanding customer service,
          especially Mr. Ahmed Medhat.
        </p>

        <h4 class="text-white font-semibold">
          Client Name : <span class="text-[#00adc0]">Ahmed Mustafa</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star-half-stroke text-yellow-300"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
          They really made it easy, bro. Now most clients confirm instantly,
          We’re saving a lot of effort, It’s just my first day running ads —
          I’ll test and see
        </p>

        <h4 class="text-white font-semibold">
          Client Name : <span class="text-[#00adc0]">Khaled Ashary</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
          Alright, I’m with you if anything comes up. Once it’s set, I’ll wait
          for our sender’s approval. Honestly, I’m really glad you’re following
          up so well — excellent work!
        </p>

        <h4 class="text-white font-semibold">
          Client Name : <span class="text-[#00adc0]">Mohamed Fawzy</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star-half-stroke text-yellow-300"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
          I confirm this one works fine 🙏🙏 Thank you so much 🙏🙏
        </p>

        <h4 class="text-white font-semibold">
          Client Name : <span class="text-[#00adc0]">Befi</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="card-reviews flex flex-col justify-stretch gap-3 border-1 sm:min-h-[300px] h-[300px] border-gray-100 p-5 rounded-xl"
      >
        <i class="fa-solid fa-quote-left text-[#00adc0] text-[50px]"></i>
        <p class="text-white">
             The program is really good and solid,
        </p>

        <h4 class="text-white font-semibold">
          Client Name : <span class="text-[#00adc0]">Kareem Adel</span>
        </h4>
        <div class="rating-up">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
          <i class="fa-solid fa-star text-yellow-500"></i>
        </div>
      </div>
    </ng-template>


  </owl-carousel-o>
</section>
