<section id="pricing" class="py-[100px] px-[10px]  rounded-tl-[20px] rounded-br-[20px]">
<div class="portfolio-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Sms Pricing</h2>
<p class="text-[#bdc1ca] sm:text-[18px] text-[18px]">What Is Pricing of Sms? </p>
</div>

<div class="grid md:grid-cols-4 gap-2 ">
<div class="bg-white p-3 rounded-[5px]" >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 1</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">1350</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 5000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>


<div class="bg-white p-3 rounded-[5px]"  >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 2</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">2600</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 10000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>

</div>

<div class="bg-white p-3 rounded-[5px]">
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 3</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">5000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 20000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>


<div class="bg-white p-3 rounded-[5px]">
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 4</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">12000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 50000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>


<div class="bg-white p-3 rounded-[5px]" >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 5</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">23000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 100000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>


<div class="bg-white p-3 rounded-[5px]" >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 6</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">55000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 250000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>



<div class="bg-white p-3 rounded-[5px]"  >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 7</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">105000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 500000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>


<div class="bg-white p-3 rounded-[5px]"   >
<div class="head-package text-center">
<i class="fa-solid fa-gift text-[50px] mb-1 text-main"></i>
<h3 class="text-[30px] mb-1 font-semibold">Package 8</h3>
<span class="text-[30px] font-semibold"><span class="text-[45px]">200000</span><span class="text-[25px] font-semibold  text-[#333]"> EGP </span></span>
</div>
<ul class="flex flex-col gap-y-2 justify-center">
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> 1000000 SMS Credit</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> API Access</span></li>
<li class="text-[20px]"><i class="fa-solid fa-circle-check text-main text-[20px]"></i><span class="text-gray-600"> User Control Panel</span></li>
<li class="text-[20px]"><i class="fa-regular fa-clock text-main text-[20px]"></i><span class="text-gray-600"> 7/24 Support</span></li>
</ul>
<a href="https://wa.me/201553571424"  target="_blank" class="px-4 py-2 bg-[#00adc0] rounded-[5px] block text-center text-white text-[18px] mt-2 hover:bg-[#16517f] transition-all duration-1000 cursor-pointer active:scale-[0.50]">Get Started</a>
</div>









</div>





</section>
