<section class="py-[50px] px-[10px] max-w-[100%] overflow-x-hidden bg-[rgb(22,81,127,0.5)] rounded-tl-[20px] rounded-br-[20px]">
  <h2 class="text-center text-white   mb-[50px]  text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold text-uppercase">Companies That Trust <span class="font-semibold text-[#00a0e3] text-center  rtl text-[30px] sm:text-[30px] md:text-[40px]">Torvo</span></h2>
  <owl-carousel-o  [options]="customOptions">
       <ng-template carouselSlide><img src="../images/comp-1.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-2.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-3.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-4.png" class="w-full" alt=""></ng-template>  
    <ng-template carouselSlide><img src="../images/comp-6.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-7.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-8.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-9.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-10.png" class="w-full" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../images/comp-11.png" class="w-full" alt=""></ng-template> 
  </owl-carousel-o>
</section>

