<section  class="py-[100px] px-[10px] bg-[rgb(22,81,127,0.5)] rounded-tl-[20px] rounded-br-[20px] my-[50px]">
<div class="why-torvo-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[25px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Why <span class="text-[30px] Syncopate  text-[#00adc0] text-center  sm:text-[30px] md:text-[40px] Syncopate font-semibold">Torvo</span> ?</h2>
<p class="sm:text-[18px] text-[15px] text-[#bdc1ca]">We are considered the best provider of business communication services because we rely on top technical engineers and develop systems that meet market needs and facilitate communication between companies and their clients</p>
</div>

<div class="why-torvo-content md:max-w-[90%] mx-auto grid sm:grid-cols-2 md:grid-cols-3  gap-5 items-stretch">

<a>
<div class="card transition-[1000] hover:bg-gray-700 bg-[#1e2128] text-white p-4 rounded-[10px] active:scale-[0.98]" data-aos="fade-left">
<i class="fa-solid fa-certificate  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">Competitive prices</h3>
<p class="text-[16px]">We stand out for our competitive prices across all the services we offer, transparent pricing with no hidden fees, and a variety of packages to suit all business sizes.</p>
</div>
</a>


<a>
<div class="card transition-[1000] hover:bg-gray-700 bg-[#1e2128] text-white p-4 rounded-[10px] active:scale-[0.98]" data-aos="slide-down">
<i class="fa-solid fa-gears  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">Easy to control and use</h3>
<p class="text-[16px]">The Torvo development team is constantly working on building a user-friendly system and control panel with an API that is easy to connect to any software system.</p>
</div>
</a>

<a>
<div class="card transition-[1000] hover:bg-gray-700 bg-[#1e2128]  text-white p-4 rounded-[10px] active:scale-[0.98]" data-aos="fade-right">
<i class="fa-solid fa-headset  text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">Customer service protects Torvo's reputation</h3>
<p class="text-[16px]">We strive to provide outstanding and prompt support that befits our valued customers, thereby enhancing Torvo's standing.</p>
</div>
</a>









</div>


</section>
