<section class="py-[100px] px-[10px] text-white  " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Our Services</h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">What is Our Services ?</p>
</div>

<div class="service-container md:max-w-[100%] w-full mx-auto grid sm:grid-cols-2 md:grid-cols-3 gap-5 text-center items-stretch">



<div class="box relative group/group1 cursor-pointer best-shadow">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/web-design-1.jpg" class="block w-full rounded-[20px] group-hover/group1:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group1:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-white mb-2 font-bold">Build Your Professional Website Today</h3>
<p class="text-[#000] text-[15px] font-[500] leading-10">A fast, modern website that showcases your services, boosts your online presence, attracts new customers, and helps you grow your business with ease.</p>
</div>

</div>


<a href="http://www.whats-meta.com" target="_blank">
<div class="box relative cursor-pointer p-0 group/group2 duration-1000 transition-all">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/whats-meta.jpg" class="block w-full rounded-[20px] group-hover/group2:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group2:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-white mb-2 font-bold">Smart WhatsApp Marketing</h3>
<p class="text-[#000] text-[15px] font-[500] leading-10">We provide a full WhatsApp marketing system with safe bulk messaging, AI-powered chatbots, and CRM workflows designed to boost engagement, streamline communication, and increase your conversions.</p>
</div>

</div>
</a>



<a href="https://app.torvochat.com/home" target="_blank">
<div class="box relative group/group3 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-1.jpg" class="block w-full rounded-[20px] group-hover/group3:scale-[1.1] duration-1000" alt="">
</div>
<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group3:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-white mb-2 font-bold">Send Your Marketing Messages Instantly</h3>
<p class="text-[#000] text-[15px] font-[500] leading-10">A complete WhatsApp system that lets you send bulk messages without a verified business number, powered by smart chatbots, auto-reply, and ready-to-run marketing campaigns.</p>
</div>
</div>
</a>



<a href="http://www.whats-meta.com" target="_blank">
<div class="box relative group/group4 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-2.jpg" class="block w-full rounded-[20px] group-hover/group4:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group4:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-white mb-2 font-bold">Get Your Official WhatsApp API Today</h3>
<p class="text-[#000] text-[15px] font-[500] leading-10">Access a secure, official WhatsApp API platform with safe bulk messaging, AI chatbots, CRM workflows, and 24/7 support—starting from just $20.</p>
</div>

</div>
</a>





<div class="box relative group/group4 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/torvo-sms-light.png" class="block w-full rounded-[20px] group-hover/group4:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/80 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group4:opacity-100 text-start py-4 px-1">
<h3 class="md:text-[25px] text-[20px] text-[#fff] mb-2 font-bold">Smart SMS Marketing for Your Business</h3>
<p class="text-[#000] text-[15px] font-[500] leading-10">Reach customers instantly with fast, reliable SMS campaigns that boost sales and keep your audience engaged.</p>
</div>

</div>



</div>

<a href="https://wa.me/201553571424" class="bg-sky-500 hover:bg-sky-600 transition-all duration-500 rounded text-[18px] px-[20px] py-[10px] mt-[50px] block block w-fit text-center mx-auto">Contact Us</a>

</section>


