<section class="py-[100px] px-[10px] text-white " id="service">

<div class="service-heading mb-[30px] sm:w-[70%] mx-auto text-center">
<h2 class="text-center text-white text-[30px] sm:text-[30px] md:text-[40px] Syncopate font-semibold">Our Services</h2>
<p class="sm:text-[18px] text-[18px] text-[#bdc1ca]">What is Our Services ?</p>
</div>

<div class="service-container md:max-w-[100%] w-full mx-auto grid sm:grid-cols-2 md:grid-cols-4 gap-5 text-center items-stretch">



<div class="box relative group/group1 cursor-pointer best-shadow">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/web-design-1.jpg" class="block w-full rounded-[20px] group-hover/group1:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/60 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group1:opacity-100 text-start py-4 px-1">
<h3 class="text-[20px] text-black mb-2 font-bold">Build Your Professional Website Today</h3>
<p class="text-[#000000ea] text-[15px] font-[500]">A fast, modern website that showcases your services, boosts your online presence, attracts new customers, and helps you grow your business with ease.</p>
</div>

</div>


<div class="box relative cursor-pointer p-0 group/group2 duration-1000 transition-all">
<div class="box-image  overflow-hidden">
<img src="../images/whats-meta.jpg" class="block w-full rounded-[20px] group-hover/group2:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/60 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group2:opacity-100 text-start py-4 px-1">
<h3 class="text-[20px] text-black mb-2 font-bold">Smart WhatsApp Marketing</h3>
<p class="text-[#000000ea] text-[15px] font-[500]">We provide a full WhatsApp marketing system with safe bulk messaging, AI-powered chatbots, and CRM workflows designed to boost engagement, streamline communication, and increase your conversions.</p>
</div>

</div>



<div class="box relative group/group3 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-1.jpg" class="block w-full rounded-[20px] group-hover/group3:scale-[1.1] duration-1000" alt="">
</div>
<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/60 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group3:opacity-100 text-start py-4 px-1">
<h3 class="text-[20px] text-black mb-2 font-bold">Send Your Marketing Messages Instantly</h3>
<p class="text-[#000000ea] text-[15px] font-[500]">A complete WhatsApp system that lets you send bulk messages without a verified business number, powered by smart chatbots, auto-reply, and ready-to-run marketing campaigns.</p>
</div>
</div>



<div class="box relative group/group4 cursor-pointer p-0">
<div class="box-image  overflow-hidden rounded-[20px]">
<img src="../images/social-media-2.jpg" class="block w-full rounded-[20px] group-hover/group4:scale-[1.1] duration-1000" alt="">
</div>

<div class="box-details flex items-start justify-center flex-col absolute bg-sky-500/60 rounded-[20px] duration-1000 transition-all  h-full w-full inset-0 opacity-0 group-hover/group4:opacity-100 text-start py-4 px-1">
<h3 class="text-[20px] text-black mb-2 font-bold">Get Your Official WhatsApp API Today</h3>
<p class="text-[#000000ea] text-[15px] font-[500]">Access a secure, official WhatsApp API platform with safe bulk messaging, AI chatbots, CRM workflows, and 24/7 support—starting from just $20.</p>
</div>

</div>



</div>


</section>





<!--
<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 flex flex-col justify-center items-center">
<i class="fa-regular fa-comment-dots text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">WhatsApp Business API <br/> (Meta Partner)</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">Leverage official WhatsApp solutions for customer engagement and support, powered by our Meta partnership.</p>
</div>
</a>


<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card  sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3  flex flex-col justify-center items-center">
<i class="fa-solid fa-message text-[30px] mb-2 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">Torvo Chat Platform</h3>
<p class="text-[16px] text-[#bdc1ca] line-clamp-3">Our proprietary, secure, and scalable chat platform designed for seamless internal and external communication.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card  sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 flex flex-col justify-center items-center">
<i class="fa-solid fa-database text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-2 font-semibold">CRM Systems</h3>
<p class="text-[16px] text-[#bdc1ca]">Leverage official WhatsApp solutions for customer engagement and support, powered by our Meta partnership.</p>
</div>
</a>



<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-5 px-3 flex flex-col justify-center items-center">
<i class="fa-solid fa-robot text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">AI & Chatbot Development</h3>
<p class="text-[16px] text-[#bdc1ca]">Intelligent AI-driven chatbots and automation tools to enhance user experience and operational efficiency.</p>
</div>
</a>




<a href="https://www.whats-meta.com/home" target="_blank">
<div class="service-card  py-5 px-3 sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 flex flex-col justify-center items-center">
<i class="fa-solid fa-paper-plane text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">SMS Marketing</h3>
<p class="text-[16px] text-[#bdc1ca]">Targeted and effective SMS campaigns to reach your audience directly and drive engagement.</p>
</div>
</a>




<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card  py-5 px-3 sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 flex flex-col justify-center items-center">
<i class="fa-solid fa-earth-africa text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">Website Design & Development</h3>
<p class="text-[16px] text-[#bdc1ca]">Crafting modern, responsive, and high-performance websites tailored to your brand and business goals.</p>
</div>
</a>


<a href="https://wa.me/201505257538" target="_blank">
<div class="service-card  py-5 px-3 sm:min-h-[250px] bg-[#1e2128] hover:bg-gray-950 cursor-pointer transition-[1000] active:scale-[0.98] rounded-[10px] py-3 px-2 flex flex-col justify-center items-center">
<i class="fa-solid fa-camera text-[30px] mb-1 text-[#00adc0]"></i>
<h3 class="text-[20px] mb-1 font-semibold">Product Photography</h3>
<p class="text-[16px] text-[#bdc1ca]">Professional product photography services to showcase your offerings with stunning visual appeal and clarity.</p>
</div>
</a>








-->